{
  email {$LETSENCRYPT_EMAIL}
}

{$APP_DOMAIN}, www.{$APP_DOMAIN}, app.{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy frontend:3000

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy strict-origin-when-cross-origin
  }
}

{$API_DOMAIN} {
  encode zstd gzip
  reverse_proxy backend:8000
}
